header{
    h1{
       line-height: 0;
       padding: 10px 0;
       a{
           width: 120px;
           display: inline-block;
       }
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        li{
            margin-left: 30px;
        }
        a{
            &:hover{
                opacity: 0.8;
            }

        }
    }
}







