@charset "UTF-8";
*{
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body{
    width: 100%;
    font-size: 14.4px;
    color: #383e45;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #383e45;
}

.wrapper{
    max-width: 1000px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

header h1{
    line-height: 0;
    padding: 10px 0;
}

header h1 a{
    width: 120px;
    display: inline-block;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
}

header ul li{
    margin-left: 30px;
}

header ul li a:hover{
    opacity: 0.8;
}

#fv img{
    height: 600px;
    object-fit: cover;
    max-width: 1920px;
}

h2{
    display: inline-block;
    font-size: 32px;
    border-bottom: 1px solid #383e45;
    margin-bottom: 60px;
}

#about .wrapper{
    margin-top: 100px;
    text-align: center;
}

.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-flex-left{
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.about-flex-right{
    text-align: left;
}

.about-name{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bicycle{
    margin-top: 100px;
    text-align: center;
}

.bicycle-flex{
    display: flex;
    justify-content: space-between;
}

.bicycle-flexbox{
    width: 32%;
}

.bicycle-flexbox h3{
    margin-top: 10px;
    margin-bottom: 10px;
}



footer{
    margin-top: 100px;
    text-align: center;
}